body {
    background-color: #363636;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: row;
}

#topSpacer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 100px;
}

.spacer {
    display: flex;
    flex-grow:1;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 30px solid #242626;
    border-radius: 23px;
    box-sizing: border-box;

}

.calcBorder {
    border: 2px solid #02dec8;
    border-radius: 25px ;
    box-shadow: 0px 0px 20px 0px #02d4bf;
    margin-top:100px;
}

.display {
    font-family:'Courier New', Courier, monospace;

    border: solid 10px;
    border-color: #039687;
    border-radius: 10px;
    background-color: #04b3a1;
    box-shadow: inset 0px 0px 20px 20px #02d4bf;

    width: 600px;
    height: 200px;
    padding: 20px;
    font-size: 20px;
    margin: 2px;

    position: relative;

    display: flex;
    flex-direction: column;
}

.display #history {
    display: flex;
    
    position: absolute;
    bottom: 50;
    min-height: 100px;
    max-height: 170px;

    width:inherit;

    overflow-x: auto;
}

/* clickable history entries */
.value {
    transition: text-shadow 0.3s ease;
}

.value:hover{
    /* duplicated for more intense glow */
    text-shadow: 0 0 2px yellow, 0 0 4px yellow, 0 0 6px yellow,
                0 0 2px yellow, 0 0 4px yellow, 0 0 6px yellow; 
}

.display #history #original {
    width: 50px;
    flex-grow: 3;
}

.display #history #result {
    flex-grow: 2;
    width: 50px;
    text-align: right;
}

.display #history #equals {
    width: 10px;
    flex-grow: .5;
    text-align: center;
}

.display #currentValue {
    color: red;
    position: absolute;
    bottom: 0;
    min-height: 30px;
    width:inherit;
}

.controls {
    display: flex;
    align-self: center;
    margin: 5px;
    gap: 5px;
    pointer-events: none;
}

.controls .operations,
.controls .numbers {
    display: flex;
    flex-wrap: wrap;
    max-width: 160px;
    gap: 5px;
    pointer-events: auto;
}

.controls .doubleWidthOperations {
    width: 105px;
    border-radius: 35px;
}

.controls .operations_group_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 105px;
    gap: 5px;
}

.controls button{
    font-size: 20px;
    font-weight:400;
    
    color: #02d4bf;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #053680;
    border-width: 0px;
    pointer-events: auto;   
}

.controls button:active { 
    transform: scale(0.90); 
    box-shadow: 0px 0px 20px 10px #02d4bf;
}

.controls button:hover {
    content: "";

    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    cursor: pointer;
    border: 2px solid #0ff; 
    filter: drop-shadow(0 0 6px #0ff); 
    animation: neonOutline 2s infinite linear;
}

/* RPN slider */

/* Wrapper container */
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 10px;
    font-family:'Courier New', Courier, monospace; 
    color: white;
    font-size: larger;
    font-weight: 400;
    margin-bottom: 3px;
}

/* Hidden checkbox */
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute; /* Keeps it out of flow */
}

/* Switch label */
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

/* Toggle button (switch knob) */
label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

/* Checked state */
input:checked + label {
    background: #02dec8;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 50px;
}